APP_PORT=3001
MONGODB_URI=mongodb://mongodb:mongodb12345@localhost:27019/?authSource=admin
MONGODB_DATABASE=gradin-courier
DATABASE_URL=mongodb://mongodb:mongodb12345@localhost:27019/gradin-courier?authSource=admin&replicaSet=rs0&directConnection=true
