APP_NAME="Courier Technical Test Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_PORT=8000

LOG_CHANNEL=stderr
MONGODB_URI=mongodb://mongodb:mongodb12345@localhost:27019/?authSource=admin
MONGODB_DATABASE=gradin-courier
